body{
    background-color: aqua;
}
.contact_us{
    font-family: 'Baloo Bhaina 2', cursive;
    display: block;
    width: 50%;
    margin: 20px auto;
    font-size: 50PX;
    

}
.navbar{
    display: inline-block;
}