body{
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('man-1282232_1280.jpg');
} 
.left{
    position: absolute;
    top: 20px;
    right: 34px;
    display: inline-block;
   
}

.mid{
    display: block;
    width: 50%;
    margin: 20px auto;
   
    
}
.right{
    position: absolute;
    top: 10px;
    left: 20px;
    display: inline-block;
    

}
.right  img{
    width: 130px;
    height: 130px;
    filter: invert(100%);
}
.right div{
    text-align-last: center;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 15px;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 30px 6px;
   
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;
}
.btn{
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0px,9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(40, 40, 41);
}
.container{
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 100px;
    border-radius: 10px;
    width: 340px;
    margin-left: 2px;
    padding-left: 1px;

}
.form-group input{
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    display: block;
    padding: 2px;
    margin: 20px auto;
    border: 2px solid goldenrod;
    border-radius: 10px;
    font-size: 15px;
    width: 300px;
    height: 10px;
    padding-top: 7px;
}
.container h3{
    text-align: center;
}
.container button{
    display: block;
    width: 300px;
    margin: auto;
}